.center {text-align: center;}

#activities-page {
   background-image: url('/cprg-218-final-project/assets/activities-hero-banner.jpg');
}

h3 {
   font-size: calc(24px + (32 - 24) * ((100vw - 320px) / 1600));
}

p.subtitle {
   text-transform: uppercase;
   letter-spacing: 0.08rem;
}

.accordion {
   display: flex;
   flex-direction: column;
   max-width: 930px;
   margin: 5rem auto 0;
}

details {
   border-bottom: 1px solid var(--font);
   background-color: transparent;
   transition: background-color 0.3s ease-in;
}

details:hover {
   background-color: rgba(181, 208, 237, 0.20);
}

details summary {
   position: relative;
   list-style: none;
   cursor: pointer;
   padding: 2rem 1.3rem;
}

details summary::before {
   content: '';
   position: absolute;
   right: 1.4rem;
   top: 50%;
   right: calc(2rem - 9px);
   width: 20px;
   height: 1px;
   background-color: var(--font);
}

details summary::after {
   content: '';
   position: absolute;
   right: 2rem;
   top: calc(50% - 10px);
   width: 1px;
   height: 20px;
   background-color: var(--font);
}

details summary span {
   margin-right: 0.8rem;
}

details > * {
   padding-inline: 4rem;
}

details > :last-child {
   padding-bottom: 2rem;
}

details::details-content {
   overflow: hidden;
   height: 0;
   transition: height 0.3s;
}

details[open] {
   background-color: var(--sky);
}

details[open]::details-content {
   height: auto;
}

details::details-content {
   overflow: hidden;
   height: 0;
   transition: height 0.3s, content-visibility 0.3s;
   transition-behavior: allow-discrete;
}

#activities-info {
   position: relative;
   background-image: url('/assets/heropage.jpg');
}

#activities-info .container {
   position: relative;
   color: var(--light-tan);
   z-index: 1;
}

#activities-info h2 {
   color: var(--light-tan);
   margin-bottom: 3rem;
}

#activities-info ul {
   list-style: none;
   padding-left: 0;
}

#activities-info ul li {
   position: relative;
   padding: 2rem 2rem;
   border-bottom: 1px solid rgba(240, 239, 227, 0.80);
   text-transform: uppercase;
}

#activities-info ul li::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 10px;
   height: 0.6rem;
   width: 0.6rem;
   border-radius: 50%;
   background-color: var(--light-tan);
   transform: translateY(-50%);
}


#activities-quote {
   display: flex;
   justify-content: space-around;
   height: 70vh;
   gap: 2rem;
}

#activities-quote img {
   flex-shrink: 0;
   height: auto;
}

#activities-quote p {
   align-self: center;
   width: 20rem;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.09rem;
}

#activities-quote img:first-of-type {
   max-width: 14rem;
   margin-bottom: auto;
}

#activities-quote img:last-of-type {
   max-width: 14.125rem;
   margin-top: auto;
}

footer {
   border-top: 0.5px solid rgba(35, 31, 32, 0.40);
}


@media screen and (max-width: 1024px) {
   details summary {
      padding-right: 4rem;
   }

   details > * {
      padding-inline: 1rem;
   }

   #activities-quote {
      flex-wrap: wrap;
      height: auto;
   }
}

/* ANIMATIONS */
@media (min-width: 1025px) and (prefers-reduced-motion: no-preference) {
   .page-hero-banner.animated .hero-title {
      animation: 1s cubic-bezier(0.83, 0, 0.17, 1) fade-in-ttb both;
   }

   .page-hero-banner.animated p {
      animation: 1s cubic-bezier(0.83, 0, 0.17, 1) fade-in both;
      animation-delay: 0.3s;
   }

   section.animated h2 {
      animation: 1s cubic-bezier(0.83, 0, 0.17, 1) fade-in both;
   }

   section.animated p.subtitle {
      animation: 1s cubic-bezier(0.83, 0, 0.17, 1) fade-in both;
      animation-delay: 0.3s;
   }

   details.animated {
      animation: 1s cubic-bezier(0.83, 0, 0.17, 1) fade-in-btt var(--delay) both;
   }

   #activities-info.animated ul li {
      animation: 0.8s cubic-bezier(0.83, 0, 0.17, 1) fade-in-ltr var(--delay) both;
   }

   #activities-quote.animated img {
      animation: 1s cubic-bezier(0.83, 0, 0.17, 1) fade-in-btt var(--delay) both;
   }

   #activities-quote.animated p {
      animation: 1s cubic-bezier(0.83, 0, 0.17, 1) fade-in var(--delay) both;
   }
}