@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

@font-face {
   font-family: 'PP Editorial Old';
   src: url('/fonts/PPEditorialOld-UltralightItalic.woff2') format('woff2'),
      url('/fonts/PPEditorialOld-UltralightItalic.woff') format('woff');
   font-weight: 200;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'PP Editorial Old';
   src: url('/fonts/PPEditorialOld-Ultralight.woff2') format('woff2'),
      url('/fonts/PPEditorialOld-Ultralight.woff') format('woff');
   font-weight: 200;
   font-style: normal;
   font-display: swap;
}

* {
   box-sizing: border-box;
}

:root {
   --font: #231F20;
   --green: #2A4149;
   --light-tan: #F0EFE3;
   --light-color: #FFFFFF;
}


body {
   font-family: 'Inter', sans-serif;
   font-size: 15px;
   font-weight: 300;
   color: var(--font);
   line-height: 1.6;
   margin: 0;
   padding: 0;
}

h2 {
   font-family: 'PP Editorial Old', sans-serif;
   font-weight: 200;
   font-size: calc(32px + (64 - 32) * ((100vw - 320px) / 1600));
   line-height: 1.1;
   margin: 0;
}

h3 {
   font-family: 'PP Editorial Old', sans-serif;
   font-weight: 200;
   font-size: calc(32px + (48 - 32) * ((100vw - 320px) / 1600));   line-height: 1.1;
   margin: 0;
}

a {
   text-decoration: none;
}

a.button {
   color: var(--light-color);
   background-color: var(--green);
   border-radius: 999px;
   font-size: 12px;
   letter-spacing: 0.0375rem;
   text-transform: uppercase;
   padding-block: 1.2rem;
   padding-inline: 2.5rem;
}

a.button.secondary {
   background-color: var(--light-tan);
   color: var(--font);
}

.font-italic {
   font-style: italic;
}

.container {
   margin: 0 5rem;
   padding-block: 5rem;
}

img {
   width: 100%;
   height: auto;
   object-fit: cover;
}

@media screen and (max-width: 1024px) {
   a.button {
      font-size: 10px;
      letter-spacing: 0.025rem;
      padding-block: 1rem;
      padding-inline: 2.2rem;
   }

   .container {
      margin-inline: 2.5rem;
   }
}

@media screen and (max-width: 768px) {
   body {
      font-size: 14px;
   }

   .container {
      margin-inline: 1.25rem;
   }
}