#testimonials-page {
   background-image: url('/cprg-218-final-project/assets/testimonials-hero-banner.jpg');
}

/* mini-box */
.mini-boxes {
   --column-count: 3;
   --gap-x: 3rem;
   --gap-x-sum: (var(--gap-x) * (var(--column-count) - 1));
   --item-width: calc((100% - var(--gap-x-sum)) / var(--column-count));
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
   gap: 3rem;
   margin-top: 4rem;
   max-width: 80%;
   margin-inline: auto;
}

.mini-box {
   width: var(--item-width);
   background-color: var(--light-tan);
   padding: 2rem;
   max-width: 400px;
}

.mini-box .review-author {
   font-family: 'PP Editorial Old', sans-serif;
   font-weight: 200;
   font-size: calc(18px + (24 - 18) * ((100vw - 320px) / 1600));
   color: var(--green);
   font-style: italic;
   margin-top: 5rem;
   margin-bottom: 0;
   text-align: right;
}

#testimonials-quote {
   display: flex;
   justify-content: space-around;
   height: 70vh;
   gap: 2rem;
}

#testimonials-quote img {
   flex-shrink: 0;
   height: auto;
}

#testimonials-quote p {
   align-self: center;
   width: 20rem;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.09rem;
}

#testimonials-quote .quote-image:first-of-type {
   max-width: 14rem;
   margin-bottom: auto;
}

#testimonials-quote .quote-image:last-of-type {
   max-width: 14.125rem;
   margin-top: auto;
}

footer {
   border-top: 0.5px solid rgba(35, 31, 32, 0.40);
}

@media screen and (max-width: 1280px) {
   .mini-boxes {
      max-width: 100%;
   }

   .mini-boxes {
      --column-count: 2;
   }
}

@media screen and (max-width: 1024px) {
   #testimonials-quote {
      flex-wrap: wrap;
      height: auto;
   }
}

@media screen and (max-width: 768px) {
   .mini-boxes {
      --column-count: 1;
      justify-content: center;
   }
}

/* ANIMATIONS */
@media (min-width: 1025px) and (prefers-reduced-motion: no-preference) {

   .page-hero-banner.animated .hero-title {
      animation: 1s cubic-bezier(0.83, 0, 0.17, 1) fade-in-ttb both;
   }

   .page-hero-banner.animated p {
      animation: 1s cubic-bezier(0.83, 0, 0.17, 1) fade-in both;
      animation-delay: 0.3s;
   }

   .mini-boxes.animated .mini-box {
      animation: 1s cubic-bezier(0.83, 0, 0.17, 1) fade-in-ltr var(--delay) both;
   }

   #testimonials-quote .quote-image {
      position: relative;
      overflow: hidden;
   }

   #testimonials-quote .quote-image::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--light-color);
      transform-origin: 0% 50%;
   }

   #testimonials-quote.animated .quote-image::after {
      animation: 1s cubic-bezier(0.83, 0, 0.17, 1) slide-out-x var(--delay) both;
   }

   #testimonials-quote.animated .quote-image img {
      animation: 1s cubic-bezier(0.83, 0, 0.17, 1) scale-out var(--delay) both;
   }

   #testimonials-quote.animated p {
      animation: 1s cubic-bezier(0.83, 0, 0.17, 1) fade-in var(--delay) both;
   }
}
